// variables for screen sizes

	$desktop-from-4: 							1920px; //(~-1920)
	$desktop-from-3: 1600px; $desktop-to-3: 	1919px; //(1919-1600)
	$desktop-from-2: 1440px; $desktop-to-2: 	1599px; //(1599-1440)
	$desktop-from-1: 1360px; $desktop-to-1: 	1439px; //(1439-1360)
	$desktop-from-0: 1200px; $desktop-to-0: 	1359px; //(1359-1200)

	$tablet-from-2:  1024px; $tablet-to-2:  	1199px; //(1199-1024)
	$tablet-from-1:   768px; $tablet-to-1:  	1023px; //(1023-768)

	$phone-from-3:    414px; $phone-to-3:   	767px;	//(767-414)
	$phone-from-2:    375px; $phone-to-2:   	413px; 	//(413-375)
	                         $phone-to-1:	  	374px;	//(374-~)

// fix just in case the helper classes aren't included
	.hide {display:none}

// grid clearfixin
	.grid:after { content:""; display:table; clear:both; }

// wrapper
	.wrapper {margin:5px}

//--------------------------------------------------------------------------------------------------

// mutual styling definitions and fallback width definitions
	$width: 0%;
	@for $i from 0 through 100 { .desktop-4-#{$i}{width:$width+$i;float:left;min-height:1px} }
	@for $i from 0 through 100 { .desktop-3-#{$i}{width:$width+$i;float:left;min-height:1px} }
	@for $i from 0 through 100 { .desktop-2-#{$i}{width:$width+$i;float:left;min-height:1px} }
	@for $i from 0 through 100 { .desktop-1-#{$i}{width:$width+$i;float:left;min-height:1px} }
	@for $i from 0 through 100 { .desktop-0-#{$i}{width:$width+$i;float:left;min-height:1px} }
	@for $i from 0 through 100 { .tablet-1-#{$i}{width:$width+$i;float:left;min-height:1px} }
	@for $i from 0 through 100 { .tablet-2-#{$i}{width:$width+$i;float:left;min-height:1px} }
	@for $i from 0 through 100 { .phone-3-#{$i}{width:$width+$i;float:left;min-height:1px} }
	@for $i from 0 through 100 { .phone-2-#{$i}{width:$width+$i;float:left;min-height:1px} }
	@for $i from 0 through 100 { .phone-1-#{$i}{width:$width+$i;float:left;min-height:1px} }

//--------------------------------------------------------------------------------------------------

	// Small screen (Phone) Size 1
	@media (max-width: $phone-to-1) {
		.hidden-phone-1{display:none !important;}
		.show-phone-1{display:block !important;}
		.show-inline-phone-1{display:inline !important;}
		.show-inline-phone-1{display:inline-block !important;}
		@for $i from 0 through 100 { .phone-1-#{$i}{width:$width+$i} }
	}

	// Small screen (Phone) Size 2
	@media (min-width: $phone-from-2) and (max-width: $phone-to-2) {
		.hidden-phone-2{display:none !important;}
		.show-phone-2{display:block !important;}
		.show-inline-phone-2{display:inline !important;}
		.show-inline-phone-2{display:inline-block !important;}
		@for $i from 0 through 100 { .phone-2-#{$i}{width:$width+$i} }
	}

	// Small screen (Phone) Size 3
	@media (min-width: $phone-from-3) and (max-width: $phone-to-3) {
		.hidden-phone-3{display:none !important;}
		.show-phone-3{display:block !important;}
		.show-inline-phone-3{display:inline !important;}
		.show-inline-phone-3{display:inline-block !important;}
		@for $i from 0 through 100 { .phone-3-#{$i}{width:$width+$i} }
	}

	// Medium screen (Tablet) Size 2
	@media (min-width: $tablet-from-2) and (max-width: $tablet-to-2) {
		.hidden-tablet-2{display:none !important;}
		.show-tablet-2{display:block !important;}
		.show-inline-tablet-2{display:inline !important;}
		.show-inline-tablet-2{display:inline-block !important;}
		@for $i from 0 through 100 { .tablet-2-#{$i}{width:$width+$i} }
	}

	// Medium screen (Tablet) Size 1
	@media (min-width: $tablet-from-1) and (max-width: $tablet-to-1) {
		.hidden-tablet-1{display:none !important;}
		.show-tablet-1{display:block !important;}
		.show-inline-tablet-1{display:inline !important;}
		.show-inline-tablet-1{display:inline-block !important;}
		@for $i from 0 through 100 { .tablet-1-#{$i}{width:$width+$i} }
	}

  	// Large screen (Desktop) Size 0
	@media (min-width: $desktop-from-0) and (max-width: $desktop-to-0) {
		.hidden-desktop-0{display:none !important;}
		.show-desktop-0{display:block !important;}
		.show-inline-desktop-0{display:inline !important;}
		.show-inline-desktop-0{display:inline-block !important;}
		@for $i from 0 through 100 { .desktop-0-#{$i}{width:$width+$i} }
	}

	// Large screen (Desktop) Size 1
	@media (min-width: $desktop-from-1) and (max-width: $desktop-to-1) {
		.hidden-desktop-1{display:none !important;}
		.show-desktop-1{display:block !important;}
		.show-inline-desktop-1{display:inline !important;}
		.show-inline-desktop-1{display:inline-block !important;}
		@for $i from 0 through 100 { .desktop-1-#{$i}{width:$width+$i} }
	}

	// Large screen (Desktop) Size 2
	@media (min-width: $desktop-from-2) and (max-width: $desktop-to-2) {
		.hidden-desktop-2{display:none !important;}
		.show-desktop-2{display:block !important;}
		.show-inline-desktop-2{display:inline !important;}
		.show-inline-desktop-2{display:inline-block !important;}
		@for $i from 0 through 100 { .desktop-2-#{$i}{width:$width+$i} }
	}

	// Large screen (Desktop) Size 3
	@media (min-width: $desktop-from-3) and (max-width: $desktop-to-3) {
		.hidden-desktop-3{display:none !important;}
		.show-desktop-3{display:block !important;}
		.show-inline-desktop-3{display:inline !important;}
		.show-inline-desktop-3{display:inline-block !important;}
		@for $i from 0 through 100 { .desktop-3-#{$i}{width:$width+$i} }
	}

	// Large screen (Desktop) Size 4
	@media (min-width: $desktop-from-4) {
		.hidden-desktop-4{display:none !important;}
		.show-desktop-4{display:block !important;}
		.show-inline-desktop-4{display:inline !important;}
		.show-inline-desktop-4{display:inline-block !important;}
		@for $i from 0 through 100 { .desktop-4-#{$i}{width:$width+$i} }
	}
