header {
	background-image: url("../../img/header_logo.png");
    height: 175px;
    background-size: 100% 200px;
    background-repeat: no-repeat;

    #search-bar {
    	cursor: pointer;
    	font-size: 1.4em;
	    float: right;
	    position: absolute;
	    right: 15px;
	    top: 100px;
	    width: 20px;
	    /*-webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    	/*transition: width 1s;
    	-webkit-transition-delay: 1s; /* Safari */
    	/*transition-delay: 1s;*/

    	#search-user-input {
    		background-color: #93181B;
    		color: #FFFFFF;
		    border: 1px solid #AE0004;
		    border-radius: 5px;
		    padding: 5px 10px;
		    outline: none;
    	}


    	&:hover {
			/*-webkit-transition-delay: 0s; /* Safari */
			/*transition-delay: 0s;
    		width: 220px;*/
    	}
    }

    #languages-bar{
		overflow: hidden;
	    position: relative;
	    width: 135px;
	    height: 70px;
	    float: right;

	    #languages-bar-inner {
	    	position: absolute;
		    height: 20px;
		    width: 40px;
		    right: -20px;
		    top: 30px;
		    float: right;
		    background-color: #93181b;
		    padding: 10px 20px 10px 20px;
		    border-radius: 20px;
		    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
    		transition: width 1s;

	    	.flag-icon {
	    		cursor: pointer;
		    	height: 17px;
		    	width: 25px;
	    	    text-decoration: none;
	    	    margin: 0 5px;
		    }

		    &:hover {
				-webkit-transition-delay: 0s; /* Safari */
				transition-delay: 0s;
	    		width: 115px;

	    		.language-icon-holder {
	    			display: inline-block;
	    		}
	    	}
	    }
	}

}

#index-page {
	.index-wrapper {
		width: 101% !important;
		.sub-companies-wrapper {
			.sub-company-wrapper {
				height: 500px;
			    background-repeat: no-repeat;
			    background-size: 100% 500px;
			}
		}
	}
}

#about-page,
#product-page,
#contact-page,
#error-page {
    text-align: center;
    margin: 30px 0;
    font-weight: 700;
    letter-spacing: 5px
}
