.masterlord {
	background-color: blue;
}

.company-image {
	max-height: 50px;
	max-width: 50px;
}

.company-wrap {
    text-align: center;
    background-color: #f3f3f3;
}

.intro {
	background-color: #f3f3f3;


}

.intro p {
		font-weight: 700;
	}